@font-face{
	font-family: Helvetica;
	src:url(fonts/HELR45W.ttf);
	font-family: 400;
}
@font-face{
	font-family: Museo;
	src:url(fonts/museo-300.otf);
}
@font-face{
	font-family: Museo Regular;
	src:url(fonts/Museo700-Regular.otf);
}
@font-face{
	font-family: Museo-500;
	src:url(fonts/Museo500-Regular.otf);
}