*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 96vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	/*border-color: #69B42E;*/
}
.caixa_topo{
	width: 100vw;
	height: 12vh;
	padding: 0 2%;
	border-style: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	z-index:1;
}
@media (max-width: 640px){
	.caixa_topo{
		width: 100%;
    	min-height: 12vh;
    	display: flex;
    	justify-content: center;
	}
}
.caixa_topo--texto{
	color: #3358A4;
	font-family: Helvetica;
	font-size: 1em;
}
@media (max-width: 640px){
	.caixa_topo--texto{
		display: none;
	}
}
.caixa_topo--logo{
	width: 10vw;
}
@media (max-width: 640px){
	.caixa_topo--logo{
		min-width: 30vw;
	}
}
.caixa_inicial{
	width: 100%;
	/*height: auto;*/
    min-height: 50%;
	background: linear-gradient(0deg,#3358A4,#3260A8,#306BAD,#2E7BB4);
	display: flex;
	flex-direction: row;
    border:solid #69B42E;
    justify-content: space-around;
}
@media (max-width: 640px){
	.caixa_inicial{
		display: flex;
		flex-direction: column;
		border:none;
		border-top: solid #69B42E;
		align-items: center;
	}
}
.caixa_inicial-left{
	min-width: 30%;
	min-height: 25vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
@media (max-width: 640px){
	.caixa_inicial-left{
		margin-bottom: 40px;
		display: flex;
		align-items: center;
	}
}
.caixa_inicial-titulo{
	font-family: Helvetica;
	font-size: 2em;
	color: #FFFFFF;
	font-weight: bold;
}
@media (max-width: 640px){
	.caixa_inicial-titulo{
		display: none;
		}
	}
.caixa_inicial-tituloMobile{
	display: none;
}
@media (max-width: 640px){
	.caixa_inicial-tituloMobile{
		display: block;
		font-family: Helvetica;
		font-weight: bold;
		color: #FFFFFF;
		font-size: 8vw;
		line-height: 1.2em;
	}
}
.caixa_inicial-descrição{
	width: 18vw;
	margin: 10% 0 0 20%;
	font-family: Helvetica;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 1.4em;
}
@media (max-width: 640px){
	.caixa_inicial-descrição{
		display: none;
	}
}
.caixa_inicial-descriçãoMobile{
	display: none;
}
@media (max-width: 640px){
	.caixa_inicial-descriçãoMobile{
		display: block;
		width: 70vw;
		margin: 20px 0 0 0;
		font-family: Helvetica;
		font-size: 5.2vw;
		color: #FFFFFF;
		line-height: 1.4em;
	}
}
.caixa_inicial-right{
	min-width: 50vw;
	min-height: 55vh;
    margin: 4% 0;
	border:solid none;
	border-radius: 10%;
	background-color: #F7F7F7;
}
@media (max-width: 640px){
	.caixa_inicial-right{
		width: 80vw;
		height: auto;
		/*border-radius: 15px;*/
		/*white-space: nowrap;*/
	}
}
.caixa_inicial-perfil{
	width: 23vw;
	height: 13vh;
	margin-top: -30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
@media(max-width: 640px){
	.caixa_inicial-perfil{
		min-width: 45vw;
		margin-top: -20px;
	}

}
.caixa_inicial-right--img{
	min-width: 7vw;
	height: 13vh;
	margin: -12% 13%;
	margin: -4% 10%;
	border:solid #69B42E 5px;
	border-radius: 50%;
}
@media(max-width: 640px){
	.caixa_inicial-right--img{
		min-width: 12vh;
		height: 10vh;
	}
}
.caixa_inicial-right--p{
	width: 10vw;
	height:5vh;
	/*margin: -4% -8%;*/
	font-family: Museo Regular;
	color: #FFFFFF;
	font-size: 1em;
	white-space: nowrap;
}
@media(max-width: 640px){
	.caixa_inicial-right--p{
		font-size: 4.5vw;
	}
}
.caixa_inicial--usuario{
	width: 95%;
	height: auto;
	margin-left: 80%;
	display: flex;
	justify-content:flex-end;
}
@media(max-width: 640px){
	.caixa_initial--usuario{
		padding-bottom: 10px;
	}
}
.caixa_inicial--dialogo{
	width: 50%;
	margin: -32px 0 0 5%;
    height: 40vh;
}
.caixa_inicial--conversacao{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}
.caixa_inicial--dialogo1{
	width: 9vw;
	min-height: 3.8vh;
	font-family: Museo-500;
	color: #FFFFFF;
	font-size: 0.9em;
	text-align: center;
	/*border-color:#69B42E;*/
	border-radius: 20px 0 20px 20px;
	border:solid none;
	background-color: #69B42E;
}
@media(max-width: 640px){
	.caixa_inicial--dialogo1{
		width: 30vw;
	}
}
.caixa_inicial--dialogo2{
	width: 12vw;
	min-height: 3.8vh;
	white-space: normal;
	font-family: Museo-500;
	color: #FFFFFF;
	font-size: 0.9em;
	text-align: center;
	border-radius: 0 20px 20px 20px;
	border:solid #3358A4;
	background-color: #3358A4;
}
@media(max-width: 640px){
	.caixa_inicial--dialogo2{
		width: 50vw;
		min-height: 10vh;
		text-align: left;
	}
}
.caixa_inicial--rg{
	width: 20vw;
	height: auto;
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}
.caixa_inicial--rgItens{
	width: 13vw;
	height: 11vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: justify;
}
.caixa_inicial--emprego{
	width: 20vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	/*background-color:red;*/
	justify-content: space-between;

}
.caixa_inicial--empregoItens{
	width: 13vw;
    height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/*background-color: black;*/
}
.caixa_inicial--iconeEmprego{
	width: 4vw;
	display: flex;
	align-self: flex-start;
}
.caixa_inicial--negocios{
	width: 20vw;
    height: auto;
    /*background-color: rebeccapurple;*/
    justify-content: space-between;
	display: flex;
	flex-direction: row;
	padding-top: 10px;
}
.caixa_inicial--negociosItens{
	width: 13vw;
    height: 9.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/*background-color: red;*/
}
.caixa_inicial--iconeNegocios{
width: 4vw;
	display: flex;
	align-self: flex-start;	
}
.caixa_inicial--button{
	min-width: 13vw;
	min-height: 5vh;
	font-family: Museo-500;
	color: #FFFFFF;
	font-size: 0.8em;
	text-align: center;
	border-radius: 20px;
	border:solid none;
	background-color: #3358A4;
}
.caixa_inicial--button:hover{
	background-color: #69B42E;
}
.caixa_inicial--info{
	min-width: 12vw;
	font-family: Museo-500;
	color: #3358A4;
	font-size: 0.6em;
}
.caixa_inicial--icone{
	width: 10vw;
	height: 5vw;
}
.caixa_inicial--envio{
	min-width: 40vw;
    min-height: 10vh;
    margin-top: 15%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.comentarios-input{
	width: 90%;
	height: 5vh;
	margin: 0 0 20px 0;
	border: solid #337DA4 1px;
	border-radius: 20px;
}
@media(max-width: 1440px){
	.comentarios-input{
		margin: 0 0 -10px 0;
	}
}
.caixa_rodape{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
@media(max-width: 640px){
	.caixa_rodape{
		display: none;
	}
}
.caixa_rodape--Sobre{
	width: 28vw;
	padding: 0 0 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}
.caixa_rodape--titulo{
	height:4vh;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 1.5em;
	color: #3358A4;
	box-shadow: 0.1px 8px 0 0 #69B42E;
}
.caixa_rodape--descricao{
	width: 20vw;
	font-family: Helvetica;
	font-size: 0.8em;
	line-height: 1.5em;
}
.caixa_rodape--informações{
	width: 20vw;
	height: 20vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.caixa_rodape--contato{
	width: 20vw;
	padding: 0;
	font-family: Helvetica;
	font-size: 0.8em;
	text-align: center;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*align-items: center;*/
}
.caixa_rodape--fone{
	padding-top: 4%;
	font-family: Helvetica;
	font-size: 0.9em;
}
.caixa_rodape--icones{
	padding: 0 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.caixa_rodape--img{
	width: 3vw;
	height: 5vh;
	margin: 0 20% 0 0;
}