*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 96vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	/*border-color: #69B42E;*/
}
.caixa_topo{
	width: 100vw;
	height: 12vh;
	padding: 0 2%;
	border-style: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	z-index:1;
}
.caixa_topo--texto{
	color: #3358A4;
	font-family: Helvetica;
	font-size: 1em;
}
.caixa_topo--logo{
	width: 10vw;
}
.caixa_inicial{
	width: 100%;
	/*height: auto;*/
    height: 50%;
	background-color: #2E7BB4;
	display: flex;
	flex-direction: row;
    border:solid #69B42E;
    justify-content: space-around;
}
.caixa_inicial-left{
	width: 30%;
	height: 70vh;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.caixa_inicial-right{
	width: 40vw;
	height: 55vh;
    margin: 4% 0;
	border:solid none;
	border-radius: 10%;
	background-color: #F7F7F7;
	display: flex;
	align-self: center;
}
.caixa_inicial-perfil{
	width: 20vw;
	height: 20vh;
	display: flex;
	flex-direction: row;
}
.caixa_inicial-right--img{
	width: 7vw;
	height: 13vh;
	margin: -4% 10%;
	border:solid #69B42E 5px;
	border-radius: 50%;
}
.caixa_inicial-right--p{
	width: 10vw;
	height:5vh;
	/*background-color: red;*/
	margin: -4% -8%;
	font-family: Museo Regular;
	color: #FFFFFF;
	font-size: 1em;
}
.caixa_inicial--envio{
	width: 90vw;
	height: auto;
	display: flex;
	align-self: flex-end;
}
.comentarios-input{
	width: 30vw;
	height: 5vh;
	margin: 0 0 0 0;
	border: solid #337DA4 1px;
	border-radius: 20px;
}
.caixa_inicial-titulo{
	font-family: Helvetica Bold;
	font-size: 2em;
	color: #FFFFFF;
}
.caixa_inicial-descrição{
	width: 18vw;
	margin: 10% 0 0 20%;
	font-family: Helvetica;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 1.8em;
}
.caixa_rodape{
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.caixa_rodape--Sobre{
	width: 28vw;
	padding: 0 0 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	}
.caixa_rodape--titulo{
	height:4vh;
	font-family: Helvetica Bold;
	font-size: 1.5em;
	color: #3358A4;
	box-shadow: 0.1px 8px 0 0 #69B42E;
}
.caixa_rodape--descricao{
	width: 20vw;
	font-family: Helvetica;
	font-size: 0.8em;
	line-height: 1.5em;
}
.caixa_rodape--informações{
	width: 20vw;
	height: 20vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.caixa_rodape--contato{
	width: 12vw;
	padding: 0 0 0 0;
	font-family: Helvetica;
	font-size: 0.8em;
	text-align: center;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*align-items: center;*/
}
.caixa_rodape--fone{
	padding-top: 4%;
	font-family: Helvetica;
	font-size: 0.9em;
}
.caixa_rodape--icones{
	padding: 0 0 0 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.caixa_rodape--img{
	width: 3vw;
	height: 5vh;
	margin: 0 20% 0 0;
}