*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	min-height: 96vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	/*border-color: #69B42E;*/
}
.caixa_inicial-fixo{
	width: 100vw;
	height: 15vh;
	padding: 0 2%;
	border-style: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	z-index:1;
}
.caixa_inicial-fixoTexto{
	color: #3358A4;
	font-family: Helvetica;
	font-size: 1em;
}
.caixa_inicial-fixoLogo{
	width: 10vw;
}
.caixa_inicial{
	width: 100%;
	/*height: auto;*/
    height: 50%;
	background-color: #2E7BB4;
	display: flex;
	flex-direction: row;
    border:solid #69B42E;
    justify-content: space-around;
}
.caixa_inicial-left{
	width: 30%;
	height: 70vh;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.caixa_inicial-right{
	width: 40vw;
	height: 60vh;
	border:solid none;
	border-radius: 10%;
	background-color: #F7F7F7;
	display: flex;
	align-self: center;
}
.caixa_inicial-titulo{
	font-family: Helvetica Bold;
	font-size: 2em;
	color: #FFFFFF;
}
.caixa_inicial-descrição{
	width: 18vw;
	margin: 10% 0 0 20%;
	font-family: Helvetica;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 1.8em;
}